PKGNAME=dhcpd
PKGVERSION=6.4.20181105
PKGREVISION=1
PKGDISTFILE=https://codeload.github.com/koue/dhcpd/tar.gz/6.4.20181105?dummy=/koue-dhcpd-6.4.20181105_GH0.tar.gz
PKGDISTFILE_SUM_SHA512=da69c2147f70508149027e19f07408fd3e89df68c08570d7eb129af11d8e3a8f2b911d22bcd6323509f76cbcd9a5ef233b61fcabbe9e9fb201192a1e1ff752a6
PKGWORKSUBDIR=dhcpd-6.4.20181105/src/usr.sbin/dhcpd
USE_CONFIGURE=NO
UID=`id -u`
GID=`id -g`
PKG_MAKE='make'
PKG_MAKE_BUILD_FLAGS=''
PKG_INSTALL_BUILD_FLAGS="BINOWN=${UID} BINGRP=${GID}"
